.main-header
	min-width 1200px
	padding-top 49px
	background-color #eeeeee
	&__wrapper
		display flex
		align-items center
		justify-content center
		width: 1200px
		padding: 0 10px
		margin: 0 auto
		box-sizing border-box