.studio
	&__wrapper
		display flex
		text-align left
		justify-content center
		padding 0 10px
		margin 0 auto
		margin-top 40px
		&__studio
			display inline-flex
			flex-direction column
			width 650px
			margin-right 149px
	&__title
		color black
		font-size 45px
		font-weight medium
		line-height 45px
		margin-bottom 15px
		&--right
			color black
			font-weight bold
			line-height 24px
			text-transform uppercase
	&__description
		color black
		font-weight regular
		line-height 24px
		padding-bottom 15px
	&__list-title
		color black
		line-height 24px
		text-transform uppercase
	&__item
		padding-bottom 25px
		&:before
			content url("")
			display inline-flex
			align-items center
			width 25px
			height 2px
			background-color red
			margin: 0 11px 4px -37px
		&--right
			color black
			font-weight regular
			line-height 18px
	&__logo
		margin-bottom 41px
.container
	flex flex
	flex-direction column