header.main-header
	.main-header__wrapper
		a.main-header__logo(href='index.html')
			include ../../assets/images/nerds-logo.svg
		nav.main-nav
			ul.main-nav__list
				li.main-nav__item
					a(href='#contacts') студия
				li.main-nav__item
					a(href='#') клиенты
				li.main-nav__item
					a(href='#') магазин
				li.main-nav__item
					a(href='#') контакты
			a.icon-basket(href='#') Корзина
section.slider__wrapper
	.slider
		input#btn-1(type="radio" name="toggle" checked="")
		input#btn-2(type="radio" name="toggle")
		input#btn-3(type="radio" name="toggle")
		.slider-controls
			label(for="btn-1")
			label(for="btn-2")
			label(for="btn-3")
		.slides
			.slide
				.slide-text
					.slide-title Долго, дорого, скрупулезно.
					p
						| Математически выверенный дизайн
						br
						| для вашего сайта или мобильного приложения.
					a.btn(href="#") УЗНАТЬ БОЛЬШЕ
			.slide
				.slide-text
					.slide-title Любим математику как никто другой
					p
						| Никакого креатива, только математические формулы
						br
						| для расчета идеальных пропорций.
					a.btn(href="#") УЗНАТЬ БОЛЬШЕ
			.slide
				.slide-text
					.slide-title Только ночь, только хардкор
					p
						| Работать днем, как все? Мы против этого.
						br
						| Ближе к полуночи работа только начинается.
					a.btn(href="#") УЗНАТЬ БОЛЬШЕ




