body
	font-size baseFontSize
	font-family basefont
	margin 0
	padding 0
	outline 0
	border 0
	vertical-align: baseline;
a
	text-decoration none
li
	list-style none
h1.visually-hidden
	display none
hr
	width 1160px
	color #eeeeee
	display block
	opacity 0.2
img
	max-width 100%
	height auto
.visually-hidden
	hidden()
.map
	width 1440px
	display flex
	justify-content center
	padding 0px 10px
	margin 0 auto
	position relative
	margin-bottom 67px
.map-feedback__img
	width 1440px
	height 416px
.map-feedback
	width 319px
	background-color white
	position absolute
	left 140px
	top 54px
.map-feedback__wrapper
	display flex
	flex-direction column
	align-items left
	margin 0 auto
	padding 50px 50px
	width 219px
	h3
		color #000000
		font-size 18px
		font-weight bold
		line-height 30px
		text-transform uppercase
		margin 0
	p, span
		color #666666
		font-size baseFontSize
		font-weight regular
		line-height 18px
		display inline-block
		vertical-align middle
		box-sizing border-box
.button__feedback
	display inline-block
	padding 19px 10px
	background-color #fb565a
	vertical-align middle
	box-sizing border-box
	color #ffffff
	font-size baseFontSize
	font-weight medium
	line-height 18px
	text-transform uppercase
	border none
	margin-top 37px
.customers
	margin-bottom: 80px
.map-feedback__wear
	position absolute
	top 90px
	left 830px
.contacts__wrap
	width 1200px
	display flex
	justify-content space-between
	padding 0px 10px
	margin 10px auto
.contacts__list
	display flex
.contacts__link
	display inline-flex
	justify-content center
	align-items center
	width 81px
	height 81px
	border-radius 50%
	background-color #e1e1e1
	position relative
	margin-right 10px
.container-contacts
	margin-right  130px
.contacts__title
	color #000000
	font-size 36px
	font-weight bold
	line-height 36px
.slider__wrapper
	background-color rgb(238, 238, 238)
	background-position center
	background-repeat repeat
.slider
	position relative
	width 1265px
	height 421px
	margin 0 auto
.slider input[type=radio]
	position absolute
	opacity 0
.slider-controls
	position absolute
	bottom 95px
	left 50%
	width 200px
	height 10px
	margin-left -10px
	text-align center
	z-index 1000
.slider-controls label
	display inline-block
	width 10px
	height 10px
	margin 0 3px
	background white
	border 3px solid white
	vertical-align top
	border-radius 50%
	cursor pointer
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"]
	background #c1c1c1
.slide
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden
.slide-text
	width 420px
	padding 30px 0
	color #283136
	margin-left 50px
	margin-top 46px
.slide-text p
	margin-bottom 42px
.slide-title
	line-height 1
	font-weight bold
	color:black
	margin-bottom 28px
	font-size: 55px;
.slide .btn
	display block
	width 240px
	padding 19px 0
	margin-top 25px
	color white
	text-transform uppercase
	text-align center
	text-decoration none
	background #fb565a
	border-radius 3px
	font-size: baseFontSize
	font-weight: medium
	line-height: 18px
.slide:nth-child(1)
	background-image url('../images/slide1.png')
	background-repeat no-repeat
	background-position 90% 10px
.slide:nth-child(2)
	background-image url('../images/slide2.png')
	background-repeat no-repeat
	background-position 90% 10px
.slide:nth-child(3)
	background-image url('../images/slide3.png')
	background-repeat no-repeat
	background-position 90% 0
.slide
	display none
#btn-1:checked ~ .slides .slide:nth-child(1)
	display block
#btn-2:checked ~ .slides .slide:nth-child(2)
	display block
#btn-3:checked ~ .slides .slide:nth-child(3)
	display block
//@keyframes move-slider {
//	100% {transform: translate(50px, 100px);}
//	20% {transform: translateX(50px);}
//	40% {transform: translateY(50px);}
//	60% {transform: translateX(50px);}
//}
//@keyframes move-clouds {
//	20% {transform: translateX(50px);}
//	40% {transform: translateY(50px);}
//	60% {transform: translateX(50px);}
//	80% {transform: translateY(50px);}
//	90% {transform: rotate(180deg);}
//	100% {transform: scale(2, 0.5);}
//}
//
//.slide:nth-child(n)
//{
//	animation-name: move-clouds, move-slider;
//	animation-duration: 3s, 1s;
//	animation-delay: 250ms;
//	animation-play-state: running;
//	animation-iteration-count: 2;
//	animation-timing-function: ease-in-out;
//
//}
//.main-nav__item a {
//	animation-name: vibrate;
//	animation-duration: 2s;
//	animation-iteration-count: infinite;
//}
//
//@keyframes vibrate {
//	50% {
//		transform: scale(1.2);
//	}
//}
//
//@keyframes power {
//	0% {
//		width: 150px;
//		color: #01ff70;
//	}
//	50% {
//		bcolor: #ffdc00;
//	}
//	100% {
//		width: 30px;
//		color: #ff4136;
//	}
//}
//.main-nav__item a {
//	animation-name: power;
//	animation-duration: 2s;
//	animation-delay: 2s;
//	animation-iteration-count: infinite;
//}
//.main-nav__item a {
//	animation-name: power;
//	animation-fill-mode: backwards;
//	animation-iteration-count: infinite;
//}
.main-header__logo:hover path,
.main-header__logo:focus path
	opacity: 0.3;
.main-nav a:hover,
.main-nav a:focus
	color red
.main-nav a:active
	opacity 0.3
	color #000000
.slide .btn:hover,
.slide .btn:focus,
.offers__button--red:hover,
.offers__button--red:focus,
.button__feedback:hover,
.button__feedback:focus{
	background-color #e74246
}
.slide .btn:active,
.offers__button--red:active,
.button__feedback:active {
	background-color #d7373b
	box-shadow inset 0 3px 0 rgba(0, 1, 1, 0.1)
	color rgb(204, 205, 206)
}
.offers__button--green:hover,
.offers__button--green:focus
	background-color #00bc6c
.offers__button--green:active
	background-color #00aa62
	box-shadow inset 0 3px 0 rgba(0, 1, 1, 0.1)
	color rgb(204, 205, 206)

.offers__button--yellow:hover,
.offers__button--yellow:focus
	background-color #eab534
.offers__button--yellow:active
	box-shadow inset 0 3px 0 rgba(0, 1, 1, 0.1)
	color rgb(204, 205, 206)
	background-color #e5a722
.customers__item img:hover,
.customers__item img:focus
	opacity 1
.customers__item img:active
	opacity 0.1
.contacts__link:hover,
.contacts__link:focus
	background-color #e74246
.contacts__link:active
	background-color #d7373b
	box-shadow inset 0 3px 0 rgba(0, 1, 1, 0.1)
	color rgb(204, 205, 206)