//Инструменты
@import "utils/fonts.styl"
@import "utils/mixins.styl"
@import "utils/vars.styl"
//Библиотека
@import "libs.styl"
//Главная
@import "main.styl"
//страницы
@import "pages/index.styl"
//Модули
@import "modules/modules.styl"
//BEM
@import "blocks/main-header.styl"
@import "blocks/main-nav.styl"
@import "blocks/icon-basket.styl"
@import "blocks/main-page.styl"
@import "blocks/studio.styl"